<a href="https://colab.research.google.com/github/chen999444/Introduction-to-computers/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sum=0
test=int(input('請輸入一個正整數'))
for n in range(1,test+1):
  sum=sum+n
print('一到',test,'的整數和為',sum)

請輸入一個正整數50
一到 50 的整數和為 1275

In [3]:
sum=0
test=int(input('請輸入一個正整數'))
for m in range(1,test+1):
  sum=sum+m
  print('一到',m,'的整數和為',sum)

請輸入一個正整數50
一到 1 的整數和為 1
一到 2 的整數和為 3
一到 3 的整數和為 6
一到 4 的整數和為 10
一到 5 的整數和為 15
一到 6 的整數和為 21
一到 7 的整數和為 28
一到 8 的整數和為 36
一到 9 的整數和為 45
一到 10 的整數和為 55
一到 11 的整數和為 66
一到 12 的整數和為 78
一到 13 的整數和為 91
一到 14 的整數和為 105
一到 15 的整數和為 120
一到 16 的整數和為 136
一到 17 的整數和為 153
一到 18 的整數和為 171
一到 19 的整數和為 190
一到 20 的整數和為 210
一到 21 的整數和為 231
一到 22 的整數和為 253
一到 23 的整數和為 276
一到 24 的整數和為 300
一到 25 的整數和為 325
一到 26 的整數和為 351
一到 27 的整數和為 378
一到 28 的整數和為 406
一到 29 的整數和為 435
一到 30 的整數和為 465
一到 31 的整數和為 496
一到 32 的整數和為 528
一到 33 的整數和為 561
一到 34 的整數和為 595
一到 35 的整數和為 630
一到 36 的整數和為 666
一到 37 的整數和為 703
一到 38 的整數和為 741
一到 39 的整數和為 780
一到 40 的整數和為 820
一到 41 的整數和為 861
一到 42 的整數和為 903
一到 43 的整數和為 946
一到 44 的整數和為 990
一到 45 的整數和為 1035
一到 46 的整數和為 1081
一到 47 的整數和為 1128
一到 48 的整數和為 1176
一到 49 的整數和為 1225
一到 50 的整數和為 1275

In [5]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,'*',i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [6]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,'*',i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [7]:
for i in range(1,5):
  if i ==4:
    break
  print(i,end='')

123

In [8]:
for i in range(1,5):
  if i ==4:
    continue
  print(i,end='')

123

In [9]:
count=0
for string in'測試看看':
  count+=1
  if string=='看':
    break
  print(string)
print('迴圈結束')
print('迴圈執行了',count,'次')

測
試
迴圈結束
迴圈執行了 3 次

In [43]:
for j in range(2,10):
  for i in range(1,10):
    k=i*j
    print(j,'*',i,'=',k,end=' ')
  print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [55]:
t=int(input('請輸入正整數'))
for b in range(1,t+1):
  if b % 5 ==0:
    continue
  print(b,end='')

請輸入正整數6
12346

In [60]:
a=int(input("請輸入a的值:"))
b=int(input("請輸入b的值:"))
if a>b:
    c=a
else:
    c=b
m=(a*b)+1
for i in range(c,m):
    if i% a== 0 and i % b== 0:
        print(a,'和',b,'最小公倍數=',i)
        break

請輸入a的值:5
請輸入b的值:6
5 和 6 最小公倍數= 30